.border {
  height: 0;
  width: 0;
  float: left;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #ee0000;
}
.border2 {
  height: 0;
  width: 0;
  float: left;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #ee0000;
}

span {
  position: absolute;
  top: 13px;
  left: 13px;
  color: #fff;
}

* {
    -webkit-transition: -webkit-transform 0.2s ease-out, border 1.3s ease-out;
}

#parent { position: relative; }
#rombo1 {
  position: absolute;
  top: 0;
  left: 21px;
}
#rombo2 {
  position: absolute;
  top: 21px;
  left: 0px;
}
#rombo3 {
  position: absolute;
  top: 21px;
  left: 42px;
}
#rombo4 {
  position: absolute;
  top: 42px;
  left: 21px;
}

#rombo1:hover,
#rombo2:hover,
#rombo3:hover,
#rombo4:hover {
  -webkit-transform: translate(0, -2px);
}

.foldable:hover .border, .foldable:hover .border2 {
  border-right-color: #dd0000;
  border-left-color: #ff0000;
}